h1 {
  text-align: center;
}

.input-form {
  text-align: center;
}

.input-form p {
  margin: 0;
}

.chars-option {
  margin: .5em 0;
}

fieldset.chars-option {
  display: inline-block;
}

details.chars-option > summary {
  cursor: pointer;
}

.chars-option > * + p {
  margin-top: .1em;
}

.output {
  background-color: #eee;
  margin: .5em 0;
  border: solid #222 1px;
  font-size: 3em;
  text-align: center;
}
