fieldset p {
  margin: 0;
}

fieldset p + p {
  margin-top: .1em;
}

.output {
  background-color: #eee;
  margin: .5em;
  border: solid #222 1px;
  border-radius: 1em;
  font-size: 3em;
  text-align: center;
}
